// Start Fixes

// Outline: none;
a:focus,
button:focus,
.button.alt:focus,
input:focus,
textarea:focus {
  outline: none;
}

input {
  &[type='button']:focus,
  &[type='reset']:focus,
  &[type='submit']:focus,
  &[type='email']:focus,
  &[type='tel']:focus,
  &[type='url']:focus
  &[type='password']:focus,
  &[type='search']:focus {
    outline: none;
  }
}

// Clearfix cleaner
header,
footer,
.comment-content,
.entry-content,
.site-content,
.site-footer,
.site-header,
.footer-widgets {
  &::after,
  &::before {
    content: none !important;
    display: none !important;
  }
}

// Float none
.content-area {
  float: none !important;
}

// Display none
.storefront-sorting {
  display: none;
}

.archive {
  .page-title,
  .woocommerce-products-header {
    padding-bottom: 0;
  }
}

.content-area,
.container,
.row,
.col {
  &::before {
    content: none !important;
  }
}

.woocommerce-cart,
.woocommerce-checkout {
  .site-main,
  .hentry {
    margin-bottom: 0;
  }
}

.page,
.hentry {
  margin: 0 0 3rem;

  .entry-taxonomy {
    display: none;
  }
}

#page {
  margin: 0 auto;
  width: var(--container-max-width);
}

.site {
  overflow-x: unset;
}

.container {
  max-width: var(--container-max-width);
}

.woocommerce-breadcrumb a:first-of-type::before { content: unset; }

ul {
  margin: 0;
  padding: 0;
}

.site-header {
  padding: 2rem 0;

  .custom-logo-link,
  .site-logo-anchor,
  .site-logo-link {
    display: inline;

    img {
      display: inline;
    }
  }

  .site-info {
    padding: 0;
  }

  a {
    &.added_to_cart.wc-forward {
      color: $brand--white;
    }
  }
}

// Cart screen styling
// .woocommerce-cart-form__contents,
.table {
  th,
  td {
    background-color: transparent !important;
  }

  .woocommerce-cart-form__cart-item {
    td {
      font-size: 1.2rem;

      > a,
      > span {
        display: inline-block;
        line-height: 1.5;
        padding: #{$input-space-root/1.5} 0;
        text-decoration: none !important;
      }

      input {
        font-size: 1.2rem;
        line-height: calc(1.5em - 2px);
        text-align: left;
      }
    }

    .product-remove {
      width: 3rem;

      a:hover::before {
        color: $brand--blue;
      }
    }

    .product-thumbnail {
      width: calc(var(--container-max-width)/3.4);

      a {
        display: inline-block;
      }

      img {
        height: 7rem;
        width: auto;
      }
    }
  }

  .actions {
    label {
      display: none;
    }
  }
}

//
// Cart Totals
.cart-collaterals {
  td,
  th {
    font-size: 1.2rem;
  }

  .cart_totals {
    clear: none;
    float: none;
    width: 100%;
  }

  .order-total {
    background-color: rgba($brand--blue, .1);
  }

  .shipping-calculator-form {
    p {
      padding-top: 0;
    }
  }
}

#ship-to-different-address {
  padding: 1.3rem 0;
  margin: 1rem 0 0;
  border-top: 1px solid rgba($black, .1);

  label {
    font-weight: 400;
    margin: 0;
    padding-left: 2rem;
  }

  .woocommerce-form__input-checkbox {
    top: calc(50% - 1px);
    left: 0;
    right: none;
  }
}

.form-row.notes {
  padding-top: 1rem !important;
  border-top: 1px solid rgba($black, .1);
}


// buttons

.button,
.add_to_cart_button {
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, $btn-border-radius);
  background-color: transparent;
  border: 1px solid transparent;
  color: $white;
  display: inline-block;
  text-align: center;
  transition: $btn-transition;
  user-select: none;
  vertical-align: middle;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &:focus,
  &.focus {
    box-shadow: $btn-focus-box-shadow;
    outline: 0;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    box-shadow: none;
    opacity: $btn-disabled-opacity;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    box-shadow: $btn-active-box-shadow;

    &:focus {
      box-shadow: $btn-focus-box-shadow, $btn-active-box-shadow;
    }
  }
}

.btn-outline,
.woocommerce-mini-cart__buttons > .button:nth-child(1) {
  background-color: $white !important;
  border-color: $brand--g4 !important;
  border-radius: 0;
  color: $brand--g4 !important;
  font-weight: bold;

  &:hover,
  &:active,
  &:focus,
  &.active {
    background: $brand--g4 !important;
    border-color: $brand--g4 !important;
    color: $white !important;

  }
}

.btn-brand, .button, .add_to_cart_button {
  background-color: $brand--blue;
  border-color: $brand--d2;
  color: $white !important;
  text-decoration: none !important;

  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $brand--d3;
    border-color: $brand--d4;
    color: $white;
  }

  &:active,
  &.active {
    background-image: none;
  }

  &.disabled,
  &[disabled] {
    background-color: $brand--blue;
    border-color: $brand--d2;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $brand--blue;
      border-color: $brand--d2;
    }
  }

  .open .dropdown-toggle#{&} {
    background-color: $brand--d3;
    border-color: $brand--d2;
    color: $white;
  }

  .open .dropdown-toggle#{&} {
    background-image: none;
  }

  fieldset[disabled] &,
  fieldset[disabled] &:hover,
  fieldset[disabled] &:focus,
  fieldset[disabled] &:active,
  fieldset[disabled] &.active {
    background-color: $brand--blue;
    border-color: $brand--d2;
  }

  .badge {
    color: $brand--blue;
    background-color: $white;
  }
}


// -------------------------
// Checkout
//

#order_review_heading,
#order_review.woocommerce-checkout-review-order {
  width: 100% !important;
}

.woocommerce-form-coupon-toggle {
  .woocommerce-info {
    color: $brand--black;
    background-color: rgba($brand--g7, .36);
  }
}



// -------------------------
// Single Product Page
//

.single-product {
  div.product {
    .woocommerce-product-gallery img { margin: 0 auto; width: 64%;}
    p.price { margin: 0;
      &:after {
        content: 'excl. VAT.';
        opacity: 50%;
        font-size: 75%;
        display: inline-block;
        margin-left: .36em;
      }
    }

    p {
      padding: 0; margin: 0;
    }
  }
}

.single-product--extra-info {
  .panel {
    width: 100% !important;
  }

  table {
    margin-bottom: 0;

    tr {
      border-bottom: 2px solid $white;
    }

    th {
      width: 25%;
    }
  }
}
.storefront-full-width-content {
  &.single-product {
    div.product {
      .woocommerce-product-gallery,
      .summary {
        float: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }
    }
  }

  .related.products>h2:first-child,
  .up-sells>h2:first-child {
    border-top: 1px solid $brand--g7;
    margin-top: 7rem;
    padding-top: 3rem;
    text-align: left;
  }
}
