$input-space-root: .64rem;

form {
  margin-bottom: #{$input-space-root*2.5};
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

// Reorder and pimp the address forms

.woocommerce-address-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;

  p {
    margin: 0 0 #{$input-space-root*2.5};
    padding: 0;
  }

  .form-row-first,
  .form-row-last {
    width: calc(50% - 15px);
  }

  .form-row-first { margin-right: 15px; }
  .form-row-last { margin-left: 15px; }
}

#billing_first_name_field {
  order: 1;
}

#billing_last_name_field {
 order: 2;
}

#billing_company_field {
  order: 3;
}

#billing_address_1_field {
  order: 4;
}

#billing_address_2_field {
  order: 5;
  width: 100%;
}

#billing_city_field {
  margin-right: 15px;
  order: 6;
  width: calc(50% - 15px);
}

#billing_postcode_field {
  margin-left: 15px;
  order: 7;
  width: calc(50% - 15px);
}

#billing_state_field {
  order: 8;
}

#billing_country_field {
  order: 9;
}

#billing_phone_field {
  order: 10;
}

#billing_email_field {
  order: 11;
}

.woocommerce-input-wrapper {
  display: block;
  width: 100%;
}

.custom-select {
  border: 1px solid $brand--g4;
  border-radius: #{$input-space-root/2.5};
  box-shadow: 0 0 0 0 rgba($brand--blue, .0);
  color: $brand--g2;
  font-size: 1rem;
  padding: #{$input-space-root/1.5} $input-space-root;

  &:focus {
    background-color: $white;
    border-color: $brand--l1;
    box-shadow: 0 0 0 .2rem rgba($brand--blue, .1);
  }
}

input {
  &[type='button'],
  &[type='reset'],
  &[type='submit'] {
    -webkit-appearance: none;
    background: 0 0;
    background-color: $white;
    border: 0;
    border-color: $brand--g5;
    border-radius: 0;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    padding: $input-space-root #{$input-space-root*2};
    text-decoration: none;
    text-shadow: none;

    &.alt,
    &.cta {
      background-color: $brand--blue;
      border-color: $brand--blue;

      &:hover {
        background-color: $brand--blue;
      }
    }
  }

  &.loading {
    opacity: .5;
  }

  &.small {
    font-size: #{$input-space-root*1.25};
    padding: #{$input-space-root*.75} #{$input-space-root*1.25};
  }

  @at-root .input-text,
  &[type='email'],
  &[type='password'],
  &[type='search'],
  &[type='tel'],
  &[type='text'],
  &[type='url'] {
    -webkit-appearance: inherit;
    background-clip: padding-box;
    background-color: $white;
    border: 1px solid $brand--g4;
    border-radius: #{$input-space-root/2.5};
    box-shadow: 0 0 0 0 rgba($brand--blue, .0);
    box-sizing: border-box;
    color: $brand--g2;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: #{$input-space-root/1.5} $input-space-root;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    width: 100%;

    &:focus {
      background-color: $white;
      border-color: $brand--l1;
      box-shadow: 0 0 0 .2rem rgba($brand--blue, .1);
    }
  }

  &[type='checkbox'],
  &[type='radio'] {
    padding: 0;

    + label,
    + label {
      margin: 0 0 0 #{$input-space-root/2};
    }
  }

  &[type='search'] {
    box-sizing: border-box;

    &::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    &::-webkit-input-placeholder,
    &::-moz-placeholder,
    &:-ms-input-placeholder,
    &::-ms-input-placeholder,
    &::placeholder {
      color: $brand--g4;
    }
  }
}

button::focus-inner,
input::focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  -webkit-appearance: none;
  background-color: $white;
  border: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: $brand--g2;
  font-weight: 400;
  overflow: auto;
  padding: $input-space-root;
  padding-left: #{$input-space-root*1.25};
  vertical-align: top;
  width: 100%;

  &:focus {
    background-color: $brand--white;
  }

}

label {
  font-weight: 400;

  &.inline input {
    width: auto;
  }

}

fieldset {
  border: 0;
  margin: 0;
  margin-bottom: #{$input-space-root*2.5};
  margin-top: #{$input-space-root*2.5};
  padding: #{$input-space-root*2.5};
  padding-top: #{$input-space-root*1.5625};

  legend {
    font-weight: 600;
    margin-left: -#{$input-space-root*1.5625};
    padding: $input-space-root #{$input-space-root*1.5625};
  }

}

[placeholder]:focus::input-placeholder {
  opacity: 0;
  transition: opacity .5s .5s ease;
}

.added_to_cart,
.button,
button {
  -webkit-appearance: none;
  background: 0 0;
  background-color: $white;
  border: 0;
  border-color: $brand--g5;
  border-radius: 0;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: $input-space-root #{$input-space-root*2};
  text-decoration: none;
  text-shadow: none;

  &:hover,
  &:hover,
  &:hover {
    color: $white;
  }

  &.loading {
    opacity: .5;
  }

  &.small {
    font-size: #{$input-space-root*1.25};
    padding: #{$input-space-root*.75} #{$input-space-root*1.25};
  }

}

