$spacing: 1rem;

@media (min-width: 600px) {
  .wp-block-column {
    &:nth-child(1) {
      .cols-3to9 & {
        flex-basis: calc(#{$col-unit} * 3 - 16px);
      }
    }

    &:nth-child(2) {
      .cols-3to9 & {
        flex-basis: calc(#{$col-unit} * 9 - 16px);
      }
    }
  }
}

.padded-full-width {
  margin: 0 -30px;
  padding: ($spacing * 3);

  .wp-block-image,
  .wp-block-column {
    margin-bottom: 0;
  }
}

.page-template-default.page.woocommerce-page {

  @media screen and (min-width: map-get($grid-breakpoints, 'md') ) {
    .storefront-breadcrumb {
      margin: 0;
      padding: #{$spacing*1.36} 0;
    }

    .entry-header {
      padding: #{$spacing * 2} 0;

      h1 {
        font-size: 3rem;
        margin: 0;
        padding: 0;
        text-align: left;
      }
    }

  }
}

.row-seperator {
  background-color: rgba($brand--g7, .36);
  height: 1px;
  margin: 3rem 0;
}

.site-footer {
  .footer-widgets {
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-top: 0;
  }
}
