$header--padding: 1rem;
$brand--fancy-blue: #0e84ff;
$transition--easing: cubic-bezier(.77,0,.175,1);
$transition--length: .8;

// Header navigtions + Fullscreen Menu
.burger-toggle {
  background-color: transparent !important;
  font-size: 1.35em;
  margin: 0;
  padding: .5rem;
  text-align: center !important;
  transition: color .15s;
}

.fs-menu {
  background-color: $brand--fancy-blue;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateY(-100vh);
  transition: transform $transition--easing $transition--length + s;
  z-index: -1;

  &::before,
  &::after {
    background: rgba($white, .2);
    content: '';
    height: 100vh;
    position: fixed;
    transform: translateY(50vh);
    transition: transform $transition--easing $transition--length + s, height $transition--easing $transition--length + s;
    width: 100vw;
    z-index: -1;
  }

  &::after {
    background: rgba($white, 1);
    transition-delay: .05s, 1s;
  }

  &::before {
    transition-delay: .15s, 1s;
  }

  .main-nav-active & {
    transform: translateY(0);
    z-index: 9999;

    &::before,
    &::after {
      height: 0;
      transform: translateY(100vh);
    }

    &::after {
      transition-delay: .15s, 0s;
    }

    &::before {
      transition-delay: .05s, 0s;
    }
  }

  ul {
    list-style: none !important;
  }

  .fs-menu-header {
    margin-bottom: 2rem;
    padding: $header--padding 0;

    .admin-bar & {
      margin-top: 32px;
    }

    .burger-toggle {
      color: rgba($brand--white, .36);

      &:hover,
      &:active {
        color: $brand--white;
      }
    }

    .custom-logo-link img,
    .site-logo-anchor img,
    .site-logo-link img {
      display: inline;
      filter: saturate(0%) brightness(300%);
      max-width: 150px;
      opacity: .75;
    }
  }

  .fs-menu-contents {
    margin-bottom: 4rem;
    margin-top: 4rem;
    padding: 0;

    .menu,
    .sub-menu {
      list-style: none;
      margin: 0;
      padding: 0;

      a {
        color: $white;
      }
    }

    .menu {

      > .menu-item {
        opacity: 0;
        padding: 2rem 0;
        position: relative;
        transform: translate(0%, 100%);
        transition-delay: $transition--length + s;
        transition: opacity .2s ease, transform .3s ease;

        &:first-child {
          padding-top: 0rem;
        }

        .main-nav-active & {
          opacity: 1;
          transform: translateX(0%);
          transition: opacity .3s ease, transform .3s ease;

          @for $i from 0 through 5 {
            &:nth-child(#{$i}){
              transition-delay: $transition--length * $i / 8 + .5 + s;
            }
          }
        }

        > a {
          color: $white;
          display: block;
          font-family: 'Barlow', sans-serif;
          font-size: 2.36rem;
          font-weight: 700;
          line-height: 1;
          margin-right: 60px;
          text-align: right;
          width: calc(100%/3 - 60px);
          transition: color .5s;
        }
      }

      &:hover {
        > .menu-item {
          > a {
            color: rgba($white, .36);
          }

          &:hover,
          &:active,
          &.active {
            > a {
              color: $white;
            }
          }
        }
      }

      .sub-menu {
        display: flex;
        flex-flow: row wrap;
        flex-basis: calc(100% * 2/3);

        li {
          flex-basis: calc((100% - 30px) / 3);
          height: 0;
          margin-right: 15px;
          margin-top: calc((2.36rem - (1.1rem/2)) / 2);
          opacity: 0;
          transform: translateY(1rem);
          transition: height .15s 0s, opacity .2s 0s, transform .3s 0s;

          &:nth-child(3n) {
            margin-right: 0;
          }
        }

        a {
          font-size: 1.1rem;

          &::before {
            content: "";
            position: absolute;
            background: $white;
            width: 1rem;
            height: 1px;
            top: calc( 100% + .55rem );
            transform: translate(0%, 0%);
            transition: all .3s ease;
            z-index: -1;
          }

          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
      }

      > .menu-item-has-children {
        display: flex;

        &:hover {
          .sub-menu li {
            height: 1em;
            opacity: 1;
            transform: translateY(0);
            transition-delay: .15s;
          }
        }

        > a {
          &:hover,
          &:active,
          &.active {
            color: $white;
          }
        }
      }
    }
  }

  .fs-menu-widgets {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    .widget {
      display: block;
      margin: 0;
    }
  }

  .fs-menu-footer {
    border-top: 1px solid rgba($brand--white, .1);
    bottom: 0;
    left: 50%;
    margin-top: 2rem;
    opacity: 0;
    padding: 2rem 1rem;
    position: absolute;
    transform: translate(-50%, 100%);
    transition-delay: $transition--length + s;
    transition: opacity .2s 1.36s, transform .3s 1.36s;

    .main-nav-active & {
      opacity: 1;
      transform: translate(-50%, 0%);
    }

    a,
    p {
      color: rgba($white, .75);

      &:hover {
        color: $white;
      }
    }

    .menu {
      display: flex;
      justify-content: flex-end;

      .menu-item {
        flex-basis: calc(100% / 5);
        text-align: right;
      }
    }
  }
}

.site-header {
  border-bottom: 1px solid $brand--g7;
  margin-bottom: 2rem !important;
  padding-bottom: $header--padding;
  padding-top: $header--padding;

  .burger-toggle {
    color: $brand--g4;

    &:hover,
    &:active {
      color: $brand--blue;
    }
  }

  .top-nav {
    font-size: 0.8rem;
    height: 100%;
    justify-content: flex-end;
    line-height: 1rem;

    a {
      color: $brand--g4;
      font-size: 1.35em;
      font-weight: 600;
      text-decoration: none;

      &:hover,
      &:active {
        color: $brand--blue;
      }
    }
  }

  .woocommerce-active & .site-header-cart {
    float: none;
    font-size: .8rem;
    margin: .3rem 0;
    padding: 0;
    width: 100%;
    transition: margin 360ms;

    .cart-contents {
      min-width: 23ex;
      padding: 0;

      &::after {
        color: $brand--g4;
        content: '\f07a';
        font-family: 'Font Awesome 5 Free';
        font-size: 1.35em;
        line-height: 2em;
        margin-top: .015em;
      }

      > span {
        display: inline-block;
        color: $brand--g4;
      }

      &:hover {
        &::after,
        > span {
          color: $brand--blue;
        }
      }

      .amount {
        font-size: 1.35em;
        font-weight: 600;
        line-height: 2em;
        text-decoration: none;
      }
    }

    .cart_drawer {
      padding-bottom: 0;
      position: relative;
      width: 100%;
      height: 0;

      .widget_shopping_cart {
        background-color: $white;
        box-shadow: 0 1rem 3rem rgba($black, .1);
        display: block;
        font-size: 1rem;
        left: initial;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: -15px;
        top: 100%;
        transform: translate(200%, 0);
        transition: opacity .5s, transform .5s;
        width: 200%;
      }

      .widget_shopping_cart_content,
      .product_list_widget {
        height: 100%;
      }

      .total {
        background-color: $white;
        border-top: 1px solid rgba($black, .05);
        border-width: 2px;
      }
      .buttons {
        background-color: $white;
      }
    }

    &:hover {
      // margin-bottom: -1rem;

      .cart_drawer {
        // padding-top: 1rem;
      }

      .widget_shopping_cart {
        display: block;
        font-size: 1rem;
        opacity: 1;
        transform: translate(0, 0);
      }
      .widget_shopping_cart_content {
        height: 100%;
      }
    }
  }
}

.site-header-cartlink {
  margin: .3rem 0;
  padding: 0;

  .cartlink {
    color: $brand--g4;
    font-size: 1.35em;

    &::after {
      content: '\f291';
      display: inline-block;
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 1.618;
    }

    &:hover {
      color: $brand--blue;
    }
  }
}

// Footer navigation
.site-footer {
  background-color: transparent;
  border-top: 1px solid $brand--g7;
  padding: 3rem 0;

  .nav {
    justify-content: flex-end;
  }

  .menu-item {
    display: inline-block;
    font-size: 1rem;
    margin: 0 1rem;
    padding: 0;

    a {
      color: $brand--g4;
      text-decoration: none !important;
      &:hover {
        color: $brand--g2;
      }
    }
  }
}

// Breadcrumbs
.woocommerce-breadcrumb {
  .breadcrumb-item {
    font-size: .9rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $brand--g7;
      display: inline-block;
      text-decoration: none;
      transition: color .36s;

      &:hover {
        color: $brand--g3;
      }
    }
  }

  .dot-separator {
    color: $brand--g7;
    line-height: calc(.9rem - 3px);
    margin: 0 1rem;

    .dot {
      background-color: $brand--g7;
      border-radius: 50%;
      display: inline-block;
      height: 3px;
      margin: 0 .3rem;
      width: 3px;
    }
  }
}
