// Header navigtions
.site-header {
  border-bottom: 1px solid $brand--g7;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;

  .top-nav {
    font-size: 0.8rem;
    height: 100%;
    justify-content: flex-end;
    line-height: 1rem;

    a {
      color: $brand--g4;
      font-size: 1.35em;
      font-weight: 600;
      text-decoration: none;

      &:hover,
      &:active {
        color: $brand--blue;
      }
    }
  }

  .woocommerce-active & .site-header-cart {
    float: none;
    font-size: .8rem;
    margin: .3rem 0;
    padding: 0;
    width: 100%;
    transition: margin 360ms;

    .cart-contents {
      min-width: 23ex;
      padding: 0;

      &::after {
        font-size: 1.35em;
        line-height: 2em;
        margin-top: .015em;
        color: $brand--g4;
      }

      > span {
        display: inline-block;
        color: $brand--g4;
      }

      &:hover {
        &::after,
        > span {
          color: $brand--blue;
        }
      }

      .amount {
        font-size: 1.35em;
        font-weight: 600;
        line-height: 2em;
        text-decoration: none;
      }
    }

    .cart_drawer {
      position: relative;
      width: 100%;
      padding-bottom: 0;
      transition: padding 360ms;

      .widget_shopping_cart {
        display: block;
        background-color: $white;
        box-shadow: 0 1rem 3rem rgba($black, .1);
        left: initial;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        right: -15px;
        top: 100%;
        transition: opacity 450ms;
        width: 200%;
        font-size: 1rem;
      }

      .widget_shopping_cart_content,
      .product_list_widget {
        height: 100%;
      }

      .total {
        background-color: $white;
        border-width: 2px;
        border-top: 1px solid rgba($black, .05);
      }
      .buttons {
        background-color: $white;
      }
    }

    &:hover {
      margin-bottom: -1rem;

      .cart_drawer {
        padding-top: 1rem;
      }

      .widget_shopping_cart {
        display: block;
        opacity: 1;
        font-size: 1rem;
      }
      .widget_shopping_cart_content {
        height: 100%;
      }
    }
  }
}

// Footer navigation
.site-footer {
  background-color: transparent;
  border-top: 1px solid $brand--g7;
  padding: 3rem 0;

  .nav {
    justify-content: flex-end;
  }

  a {
    &.nav-link {
      color: $brand--g4;
      display: inline-block;
      font-size: 1rem;
      margin: 0 1rem;
      padding: 0;
      text-decoration: none;

      &:hover {
        color: $brand--g2;
      }
    }
  }
}

// Breadcrumbs
.woocommerce-breadcrumb {
  .breadcrumb-item {
    font-size: .9rem;
    line-height: 1rem;
    text-align: center;
    text-transform: uppercase;

    a {
      color: $brand--g7;
      display: inline-block;
      text-decoration: none;
      transition: color .36s;

      &:hover {
        color: $brand--g3;
      }
    }
  }

  .dot-separator {
    color: $brand--g7;
    line-height: calc(.9rem - 3px);
    margin: 0 1rem;

    .dot {
      background-color: $brand--g7;
      border-radius: 50%;
      display: inline-block;
      height: 3px;
      margin: 0 .3rem;
      width: 3px;
    }
  }
}
