@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Barlow:200,400,600,700&display=swap');

:root {
  --container-max-width: 97vw;

  @media all and (min-width:992px) {
    --container-max-width: calc(100vw - 10rem);
  }

}


html {
  font-size: calc(10px + (14 - 10) * ((100vw - 768px) / (1440 - 768)));
  padding: 0;
}

body, html {
  margin: 0;
  width: 100%;
  background-color: $white;
  font-family: 'Titillium Web', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b, strong { font-weight: 700; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $brand--d3;

  &:not(.pt):first-child {
    padding-top: 0;
  }
}

h1 {
  font-weight: 200;
  font-size: 3rem;
  line-height: 1.1em;
  padding-top: 1.64em;
  padding-bottom: .64em;
}

h2 {
  font-weight: 200;
  font-size: 2.36rem;
  line-height: 1.1em;
  padding-top: 1.5em;
  padding-bottom: .5em;

  .cart-collaterals & {
    font-size: 2.36rem;
    line-height: 1.1em;
  }
}

h3 {
  font-weight: 400;
  font-size: 1.64rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: .25em;
}

h4 {
  font-weight: 400;
  color: $brand--g3;
  font-size: 1.36rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: .15em;
}

h5 {
  font-weight: 700;
  font-size: 1.25rem;
  color: $brand--g3;
  line-height: 1.1em;
  padding-top: 1.25em;
  padding-bottom: .15em;
}

p {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5em;
  padding: .5em 0 1.5em 0;
  margin: 0;
  color: $brand--black;

  &:not(.pt):first-child {
    padding-top: 0;
  }

  &.lead {
    font-size: 136%;
  }

  .skip-padding & {
    padding: 0 !important;
  }
}

/* Page  */
.page-container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
}

$fade-rate: .36;

.backcolor--blue { background-color: $brand--blue;
  &.faded { background-color: rgba($brand--blue, $fade-rate); }
}
.backcolor--black { background-color: $brand--black;
  &.faded { background-color: rgba($brand--black, $fade-rate); }
}
.backcolor--white { background-color: $brand--white;
  &.faded { background-color: rgba($brand--white, $fade-rate); }
}
.backcolor--d1 { background-color: $brand--d1;
  &.faded { background-color: rgba($brand--d1, $fade-rate); }
}
.backcolor--d2 { background-color: $brand--d2;
  &.faded { background-color: rgba($brand--d2, $fade-rate); }
}
.backcolor--d3 { background-color: $brand--d3;
  &.faded { background-color: rgba($brand--d3, $fade-rate); }
}
.backcolor--d4 { background-color: $brand--d4;
  &.faded { background-color: rgba($brand--d4, $fade-rate); }
}
.backcolor--d5 { background-color: $brand--d5;
  &.faded { background-color: rgba($brand--d5, $fade-rate); }
}
.backcolor--d6 { background-color: $brand--d6;
  &.faded { background-color: rgba($brand--d6, $fade-rate); }
}
.backcolor--d7 { background-color: $brand--d7;
  &.faded { background-color: rgba($brand--d7, $fade-rate); }
}
.backcolor--l1 { background-color: $brand--l1;
  &.faded { background-color: rgba($brand--l1, $fade-rate); }
}
.backcolor--l2 { background-color: $brand--l2;
  &.faded { background-color: rgba($brand--l2, $fade-rate); }
}
.backcolor--l3 { background-color: $brand--l3;
  &.faded { background-color: rgba($brand--l3, $fade-rate); }
}
.backcolor--l4 { background-color: $brand--l4;
  &.faded { background-color: rgba($brand--l4, $fade-rate); }
}
.backcolor--l5 { background-color: $brand--l5;
  &.faded { background-color: rgba($brand--l5, $fade-rate); }
}
.backcolor--l6 { background-color: $brand--l6;
  &.faded { background-color: rgba($brand--l6, $fade-rate); }
}
.backcolor--l7 { background-color: $brand--l7;
  &.faded { background-color: rgba($brand--l7, $fade-rate); }
}
.backcolor--g1 { background-color: $brand--g1;
  &.faded { background-color: rgba($brand--g1, $fade-rate); }
}
.backcolor--g2 { background-color: $brand--g2;
  &.faded { background-color: rgba($brand--g2, $fade-rate); }
}
.backcolor--g3 { background-color: $brand--g3;
  &.faded { background-color: rgba($brand--g3, $fade-rate); }
}
.backcolor--g4 { background-color: $brand--g4;
  &.faded { background-color: rgba($brand--g4, $fade-rate); }
}
.backcolor--g5 { background-color: $brand--g5;
  &.faded { background-color: rgba($brand--g5, $fade-rate); }
}
.backcolor--g6 { background-color: $brand--g6;
  &.faded { background-color: rgba($brand--g6, $fade-rate); }
}
.backcolor--g7 { background-color: $brand--g7;
  &.faded { background-color: rgba($brand--g7, $fade-rate); }
}

.invisible {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

a {
  color: $brand--blue;
  text-decoration: none !important;
  transition: color 360ms;

  &:visited {
    color: $brand--blue;

    &.textcolor--blue { color: $brand--blue; }
    &.textcolor--black { color: $brand--black; }
    &.textcolor--white { color: $brand--white; }
    &.textcolor--d1 { color: $brand--d1; }
    &.textcolor--d2 { color: $brand--d2; }
    &.textcolor--d3 { color: $brand--d3; }
    &.textcolor--d4 { color: $brand--d4; }
    &.textcolor--d5 { color: $brand--d5; }
    &.textcolor--d6 { color: $brand--d6; }
    &.textcolor--d7 { color: $brand--d7; }
    &.textcolor--l1 { color: $brand--l1; }
    &.textcolor--l2 { color: $brand--l2; }
    &.textcolor--l3 { color: $brand--l3; }
    &.textcolor--l4 { color: $brand--l4; }
    &.textcolor--l5 { color: $brand--l5; }
    &.textcolor--l6 { color: $brand--l6; }
    &.textcolor--l7 { color: $brand--l7; }
    &.textcolor--g1 { color: $brand--g1; }
    &.textcolor--g2 { color: $brand--g2; }
    &.textcolor--g3 { color: $brand--g3; }
    &.textcolor--g4 { color: $brand--g4; }
    &.textcolor--g5 { color: $brand--g5; }
    &.textcolor--g6 { color: $brand--g6; }
    &.textcolor--g7 { color: $brand--g7; }
  }

  @at-root {
    .textcolor--blue { color: $brand--blue; }
    .textcolor--black { color: $brand--black; }
    .textcolor--white { color: $brand--white; }
    .textcolor--d1 { color: $brand--d1; }
    .textcolor--d2 { color: $brand--d2; }
    .textcolor--d3 { color: $brand--d3; }
    .textcolor--d4 { color: $brand--d4; }
    .textcolor--d5 { color: $brand--d5; }
    .textcolor--d6 { color: $brand--d6; }
    .textcolor--d7 { color: $brand--d7; }
    .textcolor--l1 { color: $brand--l1; }
    .textcolor--l2 { color: $brand--l2; }
    .textcolor--l3 { color: $brand--l3; }
    .textcolor--l4 { color: $brand--l4; }
    .textcolor--l5 { color: $brand--l5; }
    .textcolor--l6 { color: $brand--l6; }
    .textcolor--l7 { color: $brand--l7; }
    .textcolor--g1 { color: $brand--g1; }
    .textcolor--g2 { color: $brand--g2; }
    .textcolor--g3 { color: $brand--g3; }
    .textcolor--g4 { color: $brand--g4; }
    .textcolor--g5 { color: $brand--g5; }
    .textcolor--g6 { color: $brand--g6; }
    .textcolor--g7 { color: $brand--g7; }
  }

  &:visited:hover,
  &:hover,
  &:active {
    color: $brand--d7;
  }
}
