// Variables
//

$brand--d1:     #008eca !default;
$brand--d2:     #0084bf !default;
$brand--d3:     #007ab4 !default;
$brand--d4:     #0070a8 !default;
$brand--d5:     #00679d !default;
$brand--d6:     #005e93 !default;
$brand--d7:     #005589 !default;
$brand--blue:   #2699d6 !default;
$brand--l1:     #4aa3db !default;
$brand--l2:     #65aee1 !default;
$brand--l3:     #7cb9e6 !default;
$brand--l4:     #90c5ec !default;
$brand--l5:     #a3d0f1 !default;
$brand--l6:     #b6dcf6 !default;
$brand--l7:     #c8e8fb !default;
$black:         #000 !default;
$brand--black:  #3c3c3b !default;
$brand--g1:     #595958 !default;
$brand--g2:     #737272 !default;
$brand--g3:     #8c8b8b !default;
$brand--g4:     #a2a2a2 !default;
$brand--g5:     #b9b9b8 !default;
$brand--g6:     #cececd !default;
$brand--g7:     #e2e2e2 !default;
$brand--white:  #f6f6f6 !default;
$white:         #fff !default;

$col-unit: 100% / 12 !default;
