@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700';

:root {
  --brand--d1:#008eca;
  --brand--d2:#0084bf;
  --brand--d3:#007ab4;
  --brand--d4:#0070a8;
  --brand--d5:#00679d;
  --brand--d6:#005e93;
  --brand--d7:#005589;
  --brand--blue: #2699d6;
  --brand--l1:#4aa3db;
  --brand--l2:#65aee1;
  --brand--l3:#7cb9e6;
  --brand--l4:#90c5ec;
  --brand--l5:#a3d0f1;
  --brand--l6:#b6dcf6;
  --brand--l7:#c8e8fb;
  --brand--black: #3c3c3b;
  --brand--g1:#595958;
  --brand--g2:#737272;
  --brand--g3:#8c8b8b;
  --brand--g4:#a2a2a2;
  --brand--g5:#b9b9b8;
  --brand--g6:#cececd;
  --brand--g7:#e2e2e2;
  --brand--white: #f6f6f6;

  --container-max-width: 97vw;

  @media all and (min-width: 992px) {
    --container-max-width: calc(100vw - 10rem);
  }
}

html { font-size: calc(10px + (14 - 10) * ((100vw - 768px) / (1440 - 768))); padding: 0; }
body, html {margin: 0; width: 100%; background-color: #fff; font-family: 'Titillium Web', sans-serif; }

h1, h2, h3, h4, h5 { margin: 0; padding: 0; font-weight: normal; color: var(--brand--d3); }
h1 { font-weight: 200; font-size: 2.5rem; line-height: 1.1em; padding-top: 1.64em; padding-bottom: .64em; }
h2 { font-weight: 200; color: var(--brand--g2); font-size: 1.64rem; line-height: 1.1em; padding-top: 1.5em; padding-bottom: .5em; }
h3 { font-weight: 400; color: var(--brand--d3); font-size: 1.36rem; line-height: 1.1em; padding-top: 1.36em; padding-bottom: .25em; }
h4 { font-weight: 400; color: var(--brand--g3); font-size: 1.2rem; line-height: 1.1em; padding-top: 1.36em; padding-bottom: .15em; }
h5 { font-weight: 700; font-size: 1rem; line-height: 1.1em; padding-top: 1.25em; padding-bottom: .15em; }
p { font-family: inherit; font-size: 1rem; line-height: 1.5em; padding: .5em 0 1.5em 0; margin: 0; color: var(--brand--black); }
p.lead {font-size: 136%;}
h1:not(.pt):first-child, h2:not(.pt):first-child, h3:not(.pt):first-child, h4:not(.pt):first-child, h5:not(.pt):first-child, p:not(.pt):first-child {padding-top: 0;}
.skip-padding p {padding: 0 !important;}
.invisible { visibility: none; opacity: 0; pointer-events:none; }
section > h1 {padding-bottom: 3rem;}
a, a:visited {color:var(--brand--blue);}
a:hover, a:active {color:var(--brand--d7);}
.form-control:focus { border-color: var(--brand--l1); box-shadow: 0 0 0 0.2rem var(--brand--l7); }
