@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200, 400, 600, 700';
:root {
  --container-max-width: 97vw;
}
@media all and (min-width: 992px) {
  :root {
    --container-max-width: calc(100vw - 10rem);
  }
}

html {
  font-size: calc(10px + (14 - 10) * ((100vw - 768px) / (1440 - 768)));
  padding: 0;
}

body, html {
  margin: 0;
  width: 100%;
  background-color: #fff;
  font-family: "Titillium Web", sans-serif;
}

b, strong {
  font-weight: 700;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #007ab4;
}
h1:not(.pt):first-child, h2:not(.pt):first-child, h3:not(.pt):first-child, h4:not(.pt):first-child, h5:not(.pt):first-child {
  padding-top: 0;
}

h1 {
  font-weight: 200;
  font-size: 3rem;
  line-height: 1.1em;
  padding-top: 1.64em;
  padding-bottom: 0.64em;
}

h2 {
  font-weight: 200;
  font-size: 2.36rem;
  line-height: 1.1em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}
.cart-collaterals h2 {
  font-size: 2.36rem;
  line-height: 1.1em;
}

h3 {
  font-weight: 400;
  font-size: 1.64rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: 0.25em;
}

h4 {
  font-weight: 400;
  color: #8c8b8b;
  font-size: 1.36rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: 0.15em;
}

h5 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #8c8b8b;
  line-height: 1.1em;
  padding-top: 1.25em;
  padding-bottom: 0.15em;
}

p {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0.5em 0 1.5em 0;
  margin: 0;
  color: #3c3c3b;
}
p:not(.pt):first-child {
  padding-top: 0;
}
p.lead {
  font-size: 136%;
}
.skip-padding p {
  padding: 0 !important;
}

/* Page  */
.page-container {
  max-width: var(--container-max-width);
  width: 100%;
  margin: 0 auto;
}

.backcolor--blue {
  background-color: #2699d6;
}
.backcolor--blue.faded {
  background-color: rgba(38, 153, 214, 0.36);
}

.backcolor--black {
  background-color: #3c3c3b;
}
.backcolor--black.faded {
  background-color: rgba(60, 60, 59, 0.36);
}

.backcolor--white {
  background-color: #f6f6f6;
}
.backcolor--white.faded {
  background-color: rgba(246, 246, 246, 0.36);
}

.backcolor--d1 {
  background-color: #008eca;
}
.backcolor--d1.faded {
  background-color: rgba(0, 142, 202, 0.36);
}

.backcolor--d2 {
  background-color: #0084bf;
}
.backcolor--d2.faded {
  background-color: rgba(0, 132, 191, 0.36);
}

.backcolor--d3 {
  background-color: #007ab4;
}
.backcolor--d3.faded {
  background-color: rgba(0, 122, 180, 0.36);
}

.backcolor--d4 {
  background-color: #0070a8;
}
.backcolor--d4.faded {
  background-color: rgba(0, 112, 168, 0.36);
}

.backcolor--d5 {
  background-color: #00679d;
}
.backcolor--d5.faded {
  background-color: rgba(0, 103, 157, 0.36);
}

.backcolor--d6 {
  background-color: #005e93;
}
.backcolor--d6.faded {
  background-color: rgba(0, 94, 147, 0.36);
}

.backcolor--d7 {
  background-color: #005589;
}
.backcolor--d7.faded {
  background-color: rgba(0, 85, 137, 0.36);
}

.backcolor--l1 {
  background-color: #4aa3db;
}
.backcolor--l1.faded {
  background-color: rgba(74, 163, 219, 0.36);
}

.backcolor--l2 {
  background-color: #65aee1;
}
.backcolor--l2.faded {
  background-color: rgba(101, 174, 225, 0.36);
}

.backcolor--l3 {
  background-color: #7cb9e6;
}
.backcolor--l3.faded {
  background-color: rgba(124, 185, 230, 0.36);
}

.backcolor--l4 {
  background-color: #90c5ec;
}
.backcolor--l4.faded {
  background-color: rgba(144, 197, 236, 0.36);
}

.backcolor--l5 {
  background-color: #a3d0f1;
}
.backcolor--l5.faded {
  background-color: rgba(163, 208, 241, 0.36);
}

.backcolor--l6 {
  background-color: #b6dcf6;
}
.backcolor--l6.faded {
  background-color: rgba(182, 220, 246, 0.36);
}

.backcolor--l7 {
  background-color: #c8e8fb;
}
.backcolor--l7.faded {
  background-color: rgba(200, 232, 251, 0.36);
}

.backcolor--g1 {
  background-color: #595958;
}
.backcolor--g1.faded {
  background-color: rgba(89, 89, 88, 0.36);
}

.backcolor--g2 {
  background-color: #737272;
}
.backcolor--g2.faded {
  background-color: rgba(115, 114, 114, 0.36);
}

.backcolor--g3 {
  background-color: #8c8b8b;
}
.backcolor--g3.faded {
  background-color: rgba(140, 139, 139, 0.36);
}

.backcolor--g4 {
  background-color: #a2a2a2;
}
.backcolor--g4.faded {
  background-color: rgba(162, 162, 162, 0.36);
}

.backcolor--g5 {
  background-color: #b9b9b8;
}
.backcolor--g5.faded {
  background-color: rgba(185, 185, 184, 0.36);
}

.backcolor--g6 {
  background-color: #cececd;
}
.backcolor--g6.faded {
  background-color: rgba(206, 206, 205, 0.36);
}

.backcolor--g7 {
  background-color: #e2e2e2;
}
.backcolor--g7.faded {
  background-color: rgba(226, 226, 226, 0.36);
}

.invisible {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

a {
  color: #2699d6;
  text-decoration: none !important;
  transition: color 360ms;
}
a:visited {
  color: #2699d6;
}
a:visited.textcolor--blue {
  color: #2699d6;
}
a:visited.textcolor--black {
  color: #3c3c3b;
}
a:visited.textcolor--white {
  color: #f6f6f6;
}
a:visited.textcolor--d1 {
  color: #008eca;
}
a:visited.textcolor--d2 {
  color: #0084bf;
}
a:visited.textcolor--d3 {
  color: #007ab4;
}
a:visited.textcolor--d4 {
  color: #0070a8;
}
a:visited.textcolor--d5 {
  color: #00679d;
}
a:visited.textcolor--d6 {
  color: #005e93;
}
a:visited.textcolor--d7 {
  color: #005589;
}
a:visited.textcolor--l1 {
  color: #4aa3db;
}
a:visited.textcolor--l2 {
  color: #65aee1;
}
a:visited.textcolor--l3 {
  color: #7cb9e6;
}
a:visited.textcolor--l4 {
  color: #90c5ec;
}
a:visited.textcolor--l5 {
  color: #a3d0f1;
}
a:visited.textcolor--l6 {
  color: #b6dcf6;
}
a:visited.textcolor--l7 {
  color: #c8e8fb;
}
a:visited.textcolor--g1 {
  color: #595958;
}
a:visited.textcolor--g2 {
  color: #737272;
}
a:visited.textcolor--g3 {
  color: #8c8b8b;
}
a:visited.textcolor--g4 {
  color: #a2a2a2;
}
a:visited.textcolor--g5 {
  color: #b9b9b8;
}
a:visited.textcolor--g6 {
  color: #cececd;
}
a:visited.textcolor--g7 {
  color: #e2e2e2;
}
.textcolor--blue {
  color: #2699d6;
}

.textcolor--black {
  color: #3c3c3b;
}

.textcolor--white {
  color: #f6f6f6;
}

.textcolor--d1 {
  color: #008eca;
}

.textcolor--d2 {
  color: #0084bf;
}

.textcolor--d3 {
  color: #007ab4;
}

.textcolor--d4 {
  color: #0070a8;
}

.textcolor--d5 {
  color: #00679d;
}

.textcolor--d6 {
  color: #005e93;
}

.textcolor--d7 {
  color: #005589;
}

.textcolor--l1 {
  color: #4aa3db;
}

.textcolor--l2 {
  color: #65aee1;
}

.textcolor--l3 {
  color: #7cb9e6;
}

.textcolor--l4 {
  color: #90c5ec;
}

.textcolor--l5 {
  color: #a3d0f1;
}

.textcolor--l6 {
  color: #b6dcf6;
}

.textcolor--l7 {
  color: #c8e8fb;
}

.textcolor--g1 {
  color: #595958;
}

.textcolor--g2 {
  color: #737272;
}

.textcolor--g3 {
  color: #8c8b8b;
}

.textcolor--g4 {
  color: #a2a2a2;
}

.textcolor--g5 {
  color: #b9b9b8;
}

.textcolor--g6 {
  color: #cececd;
}

.textcolor--g7 {
  color: #e2e2e2;
}

a:visited:hover, a:hover, a:active {
  color: #005589;
}

nav a {
  display: inline-block;
  outline: none;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover, nav a:focus {
  outline: none;
}

.cl-effect-19a a {
  line-height: 2em;
  margin: 0.3rem 0;
  width: 100%;
  perspective: 1000px;
}
.cl-effect-19a a span {
  background: #fff;
  display: inline-block;
  padding: 0 14px;
  position: relative;
  text-align: center;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  transition: transform 0.4s, background 0.5s;
  width: 100%;
}
.csstransforms3d .cl-effect-19a a span::before {
  background: #f6f6f6;
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.1);
  content: attr(data-hover);
  height: 100%;
  left: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: rotateY(90deg);
  transform-origin: 0 50%;
  transition: background 0.5s, box-shadow 0.3s;
  width: 100%;
}
.cl-effect-19a a:hover span, .cl-effect-19a a:focus span {
  background: #f6f6f6;
  transform: rotateY(-90deg);
}
.csstransforms3d .cl-effect-19a a:hover span::before, .csstransforms3d .cl-effect-19a a:focus span::before {
  background: #fff;
  box-shadow: 0 0.64rem 2rem rgba(0, 0, 0, 0.15);
  color: #2699d6;
}

form {
  margin-bottom: 1.6rem;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

.select2-container--default .select2-selection--single {
  height: 100%;
  line-height: 2.5;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100%;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  transition: border 200ms;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: unset;
}

.woocommerce-MyAccount-navigation-link--downloads {
  display: none;
  visibility: hidden;
}

.woocommerce-MyAccount-navigation-link--orders a::before {
  content: "" !important;
}
.woocommerce-MyAccount-navigation-link--shop a::before {
  content: "" !important;
}
.woocommerce-MyAccount-navigation-link--edit-address a::before {
  content: "" !important;
}
.woocommerce-MyAccount-navigation-link--edit-account a::before {
  content: "" !important;
}

.woocommerce-address-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.woocommerce-address-fields__field-wrapper p,
.woocommerce-billing-fields__field-wrapper p,
.woocommerce-shipping-fields__field-wrapper p {
  margin: 0 0 1.6rem;
  padding: 0;
}
.woocommerce-address-fields__field-wrapper .form-row-first,
.woocommerce-address-fields__field-wrapper .form-row-last,
.woocommerce-billing-fields__field-wrapper .form-row-first,
.woocommerce-billing-fields__field-wrapper .form-row-last,
.woocommerce-shipping-fields__field-wrapper .form-row-first,
.woocommerce-shipping-fields__field-wrapper .form-row-last {
  width: calc(50% - 15px);
}
.woocommerce-address-fields__field-wrapper .form-row-first,
.woocommerce-billing-fields__field-wrapper .form-row-first,
.woocommerce-shipping-fields__field-wrapper .form-row-first {
  margin-right: 15px;
}
.woocommerce-address-fields__field-wrapper .form-row-last,
.woocommerce-billing-fields__field-wrapper .form-row-last,
.woocommerce-shipping-fields__field-wrapper .form-row-last {
  margin-left: 15px;
}

#billing_first_name_field {
  order: 1;
}

#billing_last_name_field {
  order: 2;
}

#billing_company_field {
  order: 3;
}

#billing_address_1_field {
  order: 4;
}

#billing_address_2_field {
  order: 5;
  width: 100%;
}

#billing_city_field {
  margin-right: 15px;
  order: 6;
  width: calc(50% - 15px);
}

#billing_postcode_field {
  margin-left: 15px;
  order: 7;
  width: calc(50% - 15px);
}

#billing_state_field {
  order: 8;
}

#billing_country_field {
  order: 9;
}

#billing_phone_field {
  order: 10;
}

#billing_email_field {
  order: 11;
}

.woocommerce-input-wrapper {
  display: block;
  width: 100%;
}

.custom-select {
  border: 1px solid #a2a2a2;
  border-radius: 0.256rem;
  box-shadow: 0 0 0 0 rgba(38, 153, 214, 0);
  color: #737272;
  font-size: 1rem;
  padding: 0.4266666667rem 0.64rem;
}
.custom-select:focus {
  background-color: #fff;
  border-color: #4aa3db;
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 214, 0.1);
}

input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: none;
  background: 0 0;
  background-color: #fff;
  border: 0;
  border-color: #b9b9b8;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.64rem 1.28rem;
  text-decoration: none;
  text-shadow: none;
}
input[type=button].alt, input[type=button].cta, input[type=reset].alt, input[type=reset].cta, input[type=submit].alt, input[type=submit].cta {
  background-color: #2699d6;
  border-color: #2699d6;
}
input[type=button].alt:hover, input[type=button].cta:hover, input[type=reset].alt:hover, input[type=reset].cta:hover, input[type=submit].alt:hover, input[type=submit].cta:hover {
  background-color: #2699d6;
}
input.loading {
  opacity: 0.5;
}
input.small {
  font-size: 0.8rem;
  padding: 0.48rem 0.8rem;
}
.input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url] {
  -webkit-appearance: inherit;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #a2a2a2;
  border-radius: 0.256rem;
  box-shadow: 0 0 0 0 rgba(38, 153, 214, 0);
  box-sizing: border-box;
  color: #737272;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.4266666667rem 0.64rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
.input-text:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus {
  background-color: #fff;
  border-color: #4aa3db;
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 214, 0.1);
}

input[type=checkbox], input[type=radio] {
  padding: 0;
}
input[type=checkbox] + label,
input[type=checkbox] + label, input[type=radio] + label,
input[type=radio] + label {
  margin: 0 0 0 0.32rem;
}
input[type=search] {
  box-sizing: border-box;
}
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=search]::-webkit-input-placeholder, input[type=search]::-moz-placeholder, input[type=search]:-ms-input-placeholder, input[type=search]::-ms-input-placeholder, input[type=search]::placeholder {
  color: #a2a2a2;
}
.form-row.woocommerce-invalid input.input-text {
  box-shadow: inset 4px 0 0 #e8695b;
}
.form-row.woocommerce-validated input.input-text {
  box-shadow: inset 4px 0 0 #00a97e;
}

button::focus-inner,
input::focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  -webkit-appearance: none;
  background-color: #fff;
  border: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #737272;
  font-weight: 400;
  overflow: auto;
  padding: 0.64rem;
  padding-left: 0.8rem;
  vertical-align: top;
  width: 100%;
}
textarea:focus {
  background-color: #f6f6f6;
}

label {
  font-weight: 400;
}
label.inline input {
  width: auto;
}

fieldset {
  border: 0;
  margin: 0;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  padding: 1.6rem;
  padding-top: 1rem;
}
fieldset legend {
  font-weight: 600;
  margin-left: -1rem;
  padding: 0.64rem 1rem;
}

[placeholder]:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.5s 0.5s ease;
}

.added_to_cart,
.button,
button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.64rem 1.28rem;
  text-decoration: none;
  text-shadow: none;
}
.added_to_cart:hover, .added_to_cart:hover, .added_to_cart:hover,
.button:hover,
.button:hover,
.button:hover,
button:hover,
button:hover,
button:hover {
  color: #fff;
}
.added_to_cart.loading,
.button.loading,
button.loading {
  opacity: 0.5;
}
.added_to_cart.small,
.button.small,
button.small {
  font-size: 0.8rem;
  padding: 0.48rem 0.8rem;
}

.woocommerce-message {
  background-color: #3ee3ad;
  color: rgba(0, 0, 0, 0.64);
}

.woocommerce-info {
  background-color: #2699d6;
}

.woocommerce-error {
  background-color: #e8695b;
}

a:focus,
button:focus,
.button.alt:focus,
input:focus,
textarea:focus {
  outline: none;
}

input[type=button]:focus, input[type=reset]:focus, input[type=submit]:focus, input[type=email]:focus, input[type=tel]:focus, input[type=url]:focus, input[type=password]:focus, input[type=search]:focus {
  outline: none;
}

.content-area {
  float: none !important;
}

.content-area::before,
.container::before,
.row::before,
.col::before {
  content: none !important;
}

.woocommerce-cart .site-main,
.woocommerce-cart .hentry,
.woocommerce-checkout .site-main,
.woocommerce-checkout .hentry {
  margin-bottom: 0;
}

.page,
.hentry {
  margin: 0 0 3rem;
}
.page .entry-taxonomy,
.hentry .entry-taxonomy {
  display: none;
}

#page {
  margin: 0 auto;
  width: var(--container-max-width);
}

.site {
  overflow-x: unset;
}

.container {
  max-width: var(--container-max-width);
}

.woocommerce-breadcrumb a:first-of-type::before {
  content: unset;
}

ul {
  margin: 0;
  padding: 0;
}

.site-header {
  padding: 2rem 0;
}
.site-header .custom-logo-link,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
  display: inline;
}
.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
  display: inline;
}
.site-header .site-info {
  padding: 0;
}
.site-header a.added_to_cart.wc-forward {
  color: #f6f6f6;
}

.table th,
.table td {
  background-color: transparent !important;
}
.table .woocommerce-cart-form__cart-item td {
  font-size: 1.2rem;
}
.table .woocommerce-cart-form__cart-item td > a,
.table .woocommerce-cart-form__cart-item td > span {
  display: inline-block;
  line-height: 1.5;
  padding: 0.4266666667rem 0;
  text-decoration: none !important;
}
.table .woocommerce-cart-form__cart-item td input {
  font-size: 1.2rem;
  line-height: calc(1.5em - 2px);
  text-align: left;
}
.table .woocommerce-cart-form__cart-item .product-remove {
  width: 3rem;
}
.table .woocommerce-cart-form__cart-item .product-remove a:hover::before {
  color: #2699d6;
}
.table .woocommerce-cart-form__cart-item .product-thumbnail {
  width: calc(var(--container-max-width)/3.4);
}
.table .woocommerce-cart-form__cart-item .product-thumbnail a {
  display: inline-block;
}
.table .woocommerce-cart-form__cart-item .product-thumbnail img {
  height: 7rem;
  width: auto;
}
.table .actions label {
  display: none;
}

.cart-collaterals td,
.cart-collaterals th {
  font-size: 1.2rem;
}
.cart-collaterals .cart_totals {
  clear: none;
  float: none;
  width: 100%;
}
.cart-collaterals .order-total {
  background-color: rgba(38, 153, 214, 0.1);
}
.cart-collaterals .shipping-calculator-form p {
  padding-top: 0;
}

#ship-to-different-address {
  padding: 1.3rem 0;
  margin: 1rem 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#ship-to-different-address label {
  font-weight: 400;
  margin: 0;
  padding-left: 2rem;
}
#ship-to-different-address .woocommerce-form__input-checkbox {
  top: calc(50% - 1px);
  left: 0;
  right: none;
}

.form-row.notes {
  padding-top: 1rem !important;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.button,
.add_to_cart_button {
  border-radius: 0.25rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  background-color: transparent;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  text-align: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
}
.button:hover,
.add_to_cart_button:hover {
  color: #fff;
  text-decoration: none;
}
.button:focus, .button.focus,
.add_to_cart_button:focus,
.add_to_cart_button.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 214, 0.25);
  outline: 0;
}
.button.disabled, .button:disabled,
.add_to_cart_button.disabled,
.add_to_cart_button:disabled {
  box-shadow: none;
  opacity: 0.65;
}
.button:not(:disabled):not(.disabled):active, .button:not(:disabled):not(.disabled).active,
.add_to_cart_button:not(:disabled):not(.disabled):active,
.add_to_cart_button:not(:disabled):not(.disabled).active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.button:not(:disabled):not(.disabled):active:focus, .button:not(:disabled):not(.disabled).active:focus,
.add_to_cart_button:not(:disabled):not(.disabled):active:focus,
.add_to_cart_button:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 214, 0.25), inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline,
.woocommerce-mini-cart__buttons > .button:nth-child(1) {
  background-color: #fff !important;
  border-color: #a2a2a2 !important;
  border-radius: 0;
  color: #a2a2a2 !important;
  font-weight: bold;
}
.btn-outline:hover, .btn-outline:active, .btn-outline:focus, .btn-outline.active,
.woocommerce-mini-cart__buttons > .button:nth-child(1):hover,
.woocommerce-mini-cart__buttons > .button:nth-child(1):active,
.woocommerce-mini-cart__buttons > .button:nth-child(1):focus,
.woocommerce-mini-cart__buttons > .button:nth-child(1).active {
  background: #a2a2a2 !important;
  border-color: #a2a2a2 !important;
  color: #fff !important;
}

.btn-brand, .button, .add_to_cart_button {
  background-color: #2699d6;
  border-color: #0084bf;
  color: #fff !important;
  text-decoration: none !important;
}
.btn-brand:hover, .btn-brand:focus, .btn-brand:active, .btn-brand.active, .button:hover, .button:focus, .button:active, .button.active, .add_to_cart_button:hover, .add_to_cart_button:focus, .add_to_cart_button:active, .add_to_cart_button.active {
  background-color: #007ab4;
  border-color: #0070a8;
  color: #fff;
}
.btn-brand:active, .btn-brand.active, .button:active, .button.active, .add_to_cart_button:active, .add_to_cart_button.active {
  background-image: none;
}
.btn-brand.disabled, .btn-brand[disabled], .button.disabled, .button[disabled], .add_to_cart_button.disabled, .add_to_cart_button[disabled] {
  background-color: #2699d6;
  border-color: #0084bf;
}
.btn-brand.disabled:hover, .btn-brand.disabled:focus, .btn-brand.disabled:active, .btn-brand.disabled.active, .btn-brand[disabled]:hover, .btn-brand[disabled]:focus, .btn-brand[disabled]:active, .btn-brand[disabled].active, .button.disabled:hover, .button.disabled:focus, .button.disabled:active, .button.disabled.active, .button[disabled]:hover, .button[disabled]:focus, .button[disabled]:active, .button[disabled].active, .add_to_cart_button.disabled:hover, .add_to_cart_button.disabled:focus, .add_to_cart_button.disabled:active, .add_to_cart_button.disabled.active, .add_to_cart_button[disabled]:hover, .add_to_cart_button[disabled]:focus, .add_to_cart_button[disabled]:active, .add_to_cart_button[disabled].active {
  background-color: #2699d6;
  border-color: #0084bf;
}
.btn-brand .open .dropdown-toggle.btn-brand, .btn-brand .button, .btn-brand .add_to_cart_button, .button .open .dropdown-toggle.btn-brand, .button .button, .button .add_to_cart_button, .add_to_cart_button .open .dropdown-toggle.btn-brand, .add_to_cart_button .button, .add_to_cart_button .add_to_cart_button {
  background-color: #007ab4;
  border-color: #0084bf;
  color: #fff;
}
.btn-brand .open .dropdown-toggle.btn-brand, .btn-brand .button, .btn-brand .add_to_cart_button, .button .open .dropdown-toggle.btn-brand, .button .button, .button .add_to_cart_button, .add_to_cart_button .open .dropdown-toggle.btn-brand, .add_to_cart_button .button, .add_to_cart_button .add_to_cart_button {
  background-image: none;
}
fieldset[disabled] .btn-brand, fieldset[disabled] .btn-brand:hover, fieldset[disabled] .btn-brand:focus, fieldset[disabled] .btn-brand:active, fieldset[disabled] .btn-brand.active, fieldset[disabled] .button, fieldset[disabled] .button:hover, fieldset[disabled] .button:focus, fieldset[disabled] .button:active, fieldset[disabled] .button.active, fieldset[disabled] .add_to_cart_button, fieldset[disabled] .add_to_cart_button:hover, fieldset[disabled] .add_to_cart_button:focus, fieldset[disabled] .add_to_cart_button:active, fieldset[disabled] .add_to_cart_button.active {
  background-color: #2699d6;
  border-color: #0084bf;
}
.btn-brand .badge, .button .badge, .add_to_cart_button .badge {
  color: #2699d6;
  background-color: #fff;
}

#order_review_heading,
#order_review.woocommerce-checkout-review-order {
  width: 100% !important;
}

.woocommerce-form-coupon-toggle .woocommerce-info {
  color: #3c3c3b;
  background-color: rgba(226, 226, 226, 0.36);
}

.single-product div.product .woocommerce-product-gallery img {
  margin: 0 auto;
  width: 64%;
}
.single-product div.product p.price {
  margin: 0;
}

.single-product--extra-info .panel {
  width: 100% !important;
}
.single-product--extra-info table {
  margin-bottom: 0;
}
.single-product--extra-info table tr {
  border-bottom: 2px solid #fff;
}
.single-product--extra-info table th {
  width: 25%;
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery,
.storefront-full-width-content.single-product div.product .summary {
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.storefront-full-width-content .related.products > h2:first-child,
.storefront-full-width-content .up-sells > h2:first-child {
  border-top: 1px solid #e2e2e2;
  margin-top: 7rem;
  padding-top: 3rem;
  text-align: left;
}

@media (min-width: 600px) {
  .cols-3to9 .wp-block-column:nth-child(1) {
    flex-basis: calc(8.3333333333% * 3 - 16px);
  }
  .cols-3to9 .wp-block-column:nth-child(2) {
    flex-basis: calc(8.3333333333% * 9 - 16px);
  }
}
.padded-full-width {
  margin: 0 -30px;
  padding: 3rem;
}
.padded-full-width .wp-block-image,
.padded-full-width .wp-block-column {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .page-template-default.page.woocommerce-page .storefront-breadcrumb {
    margin: 0;
    padding: 1.36rem 0;
  }
  .page-template-default.page.woocommerce-page .entry-header {
    padding: 2rem 0;
  }
  .page-template-default.page.woocommerce-page .entry-header h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    text-align: left;
  }
}

.row-seperator {
  background-color: rgba(226, 226, 226, 0.36);
  height: 1px;
  margin: 3rem 0;
}

.site-footer .footer-widgets {
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-top: 0;
}

.burger-toggle {
  background-color: transparent !important;
  font-size: 1.35em;
  margin: 0;
  padding: 0.5rem;
  text-align: center !important;
  transition: color 0.15s;
}

.fs-menu {
  background-color: #1e1e1e;
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}
.fs-menu ul {
  list-style: none !important;
}
.fs-menu .fs-menu-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin-bottom: 2rem;
  padding: 1rem 0;
}
.admin-bar .fs-menu .fs-menu-header {
  margin-top: 32px;
}
.fs-menu .fs-menu-header .burger-toggle {
  color: rgba(255, 255, 255, 0.36);
}
.fs-menu .fs-menu-header .burger-toggle:hover, .fs-menu .fs-menu-header .burger-toggle:active {
  color: #fff;
}
.fs-menu .fs-menu-header .custom-logo-link img,
.fs-menu .fs-menu-header .site-logo-anchor img,
.fs-menu .fs-menu-header .site-logo-link img {
  display: inline;
  filter: brightness(0) invert(100%);
  max-width: 210px;
  opacity: 0.36;
}
.fs-menu .fs-menu-contents {
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding: 0;
}
.fs-menu .fs-menu-contents .menu,
.fs-menu .fs-menu-contents .sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.fs-menu .fs-menu-contents .menu a,
.fs-menu .fs-menu-contents .sub-menu a {
  color: #fff;
}
.fs-menu .fs-menu-contents .menu > .menu-item {
  border-top: 1px solid rgba(255, 255, 255, 0.036);
  padding: 1.36rem 0;
}
.fs-menu .fs-menu-contents .menu > .menu-item:first-child {
  border-top: 0;
  margin-top: 0;
  padding-top: 0;
}
.fs-menu .fs-menu-contents .menu > .menu-item:last-child {
  padding-bottom: 0;
}
.fs-menu .fs-menu-contents .menu > .menu-item > a {
  color: #2699d6;
  font-size: 2.36rem;
  font-weight: 300;
  line-height: 1;
  transition: color 1s;
}
.fs-menu .fs-menu-contents .menu > .menu-item > a:hover, .fs-menu .fs-menu-contents .menu > .menu-item > a:active {
  color: #7cb9e6;
  transition: color 0.15s;
}
.fs-menu .fs-menu-contents .menu > .menu-item-has-children {
  display: flex;
}
.fs-menu .fs-menu-contents .menu > .menu-item-has-children > a {
  flex-basis: 50%;
  pointer-events: none;
}
.fs-menu .fs-menu-contents .menu .sub-menu {
  flex-basis: 50%;
}
.fs-menu .fs-menu-contents .menu .sub-menu a {
  font-size: 1.1rem;
  opacity: 0.64;
  transition: opacity 1s;
}
.fs-menu .fs-menu-contents .menu .sub-menu a:hover, .fs-menu .fs-menu-contents .menu .sub-menu a:active {
  opacity: 1;
  transition: opacity 0.15s;
}
.fs-menu .fs-menu-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  margin-top: 2rem;
  padding: 2rem 1rem;
}
.fs-menu .fs-menu-footer a,
.fs-menu .fs-menu-footer p {
  color: rgba(255, 255, 255, 0.15);
}

.site-header {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 2rem !important;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.site-header .burger-toggle {
  color: #a2a2a2;
}
.site-header .burger-toggle:hover, .site-header .burger-toggle:active {
  color: #2699d6;
}
.site-header .top-nav {
  font-size: 0.8rem;
  height: 100%;
  justify-content: flex-end;
  line-height: 1rem;
}
.site-header .top-nav a {
  color: #a2a2a2;
  font-size: 1.35em;
  font-weight: 600;
  text-decoration: none;
}
.site-header .top-nav a:hover, .site-header .top-nav a:active {
  color: #2699d6;
}
.woocommerce-active .site-header .site-header-cart {
  float: none;
  font-size: 0.8rem;
  margin: 0.3rem 0;
  padding: 0;
  width: 100%;
  transition: margin 360ms;
}
.woocommerce-active .site-header .site-header-cart .cart-contents {
  min-width: 23ex;
  padding: 0;
}
.woocommerce-active .site-header .site-header-cart .cart-contents::after {
  color: #a2a2a2;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-size: 1.35em;
  line-height: 2em;
  margin-top: 0.015em;
}
.woocommerce-active .site-header .site-header-cart .cart-contents > span {
  display: inline-block;
  color: #a2a2a2;
}
.woocommerce-active .site-header .site-header-cart .cart-contents:hover::after,
.woocommerce-active .site-header .site-header-cart .cart-contents:hover > span {
  color: #2699d6;
}
.woocommerce-active .site-header .site-header-cart .cart-contents .amount {
  font-size: 1.35em;
  font-weight: 600;
  line-height: 2em;
  text-decoration: none;
}
.woocommerce-active .site-header .site-header-cart .cart_drawer {
  padding-bottom: 0;
  position: relative;
  transition: padding 360ms;
  width: 100%;
}
.woocommerce-active .site-header .site-header-cart .cart_drawer .widget_shopping_cart {
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 1rem;
  left: initial;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: -15px;
  top: 100%;
  transition: opacity 450ms;
  width: 200%;
}
.woocommerce-active .site-header .site-header-cart .cart_drawer .widget_shopping_cart_content,
.woocommerce-active .site-header .site-header-cart .cart_drawer .product_list_widget {
  height: 100%;
}
.woocommerce-active .site-header .site-header-cart .cart_drawer .total {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-width: 2px;
}
.woocommerce-active .site-header .site-header-cart .cart_drawer .buttons {
  background-color: #fff;
}
.woocommerce-active .site-header .site-header-cart:hover {
  margin-bottom: -1rem;
}
.woocommerce-active .site-header .site-header-cart:hover .cart_drawer {
  padding-top: 1rem;
}
.woocommerce-active .site-header .site-header-cart:hover .widget_shopping_cart {
  display: block;
  font-size: 1rem;
  opacity: 1;
}
.woocommerce-active .site-header .site-header-cart:hover .widget_shopping_cart_content {
  height: 100%;
}

.site-header-cartlink {
  margin: 0.3rem 0;
  padding: 0;
}
.site-header-cartlink .cartlink {
  color: #a2a2a2;
  font-size: 1.35em;
}
.site-header-cartlink .cartlink::after {
  content: "";
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1.618;
}
.site-header-cartlink .cartlink:hover {
  color: #2699d6;
}

.site-footer {
  background-color: transparent;
  border-top: 1px solid #e2e2e2;
  padding: 3rem 0;
}
.site-footer .nav {
  justify-content: flex-end;
}
.site-footer a.nav-link {
  color: #a2a2a2;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0;
  text-decoration: none;
}
.site-footer a.nav-link:hover {
  color: #737272;
}

.woocommerce-breadcrumb .breadcrumb-item {
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.woocommerce-breadcrumb .breadcrumb-item a {
  color: #e2e2e2;
  display: inline-block;
  text-decoration: none;
  transition: color 0.36s;
}
.woocommerce-breadcrumb .breadcrumb-item a:hover {
  color: #8c8b8b;
}
.woocommerce-breadcrumb .dot-separator {
  color: #e2e2e2;
  line-height: calc(.9rem - 3px);
  margin: 0 1rem;
}
.woocommerce-breadcrumb .dot-separator .dot {
  background-color: #e2e2e2;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin: 0 0.3rem;
  width: 3px;
}

.single-product .product {
  overflow: visible !important;
}
.single-product .woocommerce-product-gallery li {
  box-shadow: 0 0.36rem 0.64rem rgba(0, 0, 0, 0.1);
  margin-top: 0;
  transition: all 0.36s;
}
@media screen and (min-width: 768px) {
  .single-product .woocommerce-product-gallery li {
    margin-right: 1rem !important;
    width: 5rem !important;
  }
}
.single-product .woocommerce-product-gallery li:hover {
  box-shadow: 0 0.64rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: -0.36rem;
}

/*# sourceMappingURL=style.css.map */
