@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700';
:root {
  --brand--d1:#008eca;
  --brand--d2:#0084bf;
  --brand--d3:#007ab4;
  --brand--d4:#0070a8;
  --brand--d5:#00679d;
  --brand--d6:#005e93;
  --brand--d7:#005589;
  --brand--blue: #2699d6;
  --brand--l1:#4aa3db;
  --brand--l2:#65aee1;
  --brand--l3:#7cb9e6;
  --brand--l4:#90c5ec;
  --brand--l5:#a3d0f1;
  --brand--l6:#b6dcf6;
  --brand--l7:#c8e8fb;
  --brand--black: #3c3c3b;
  --brand--g1:#595958;
  --brand--g2:#737272;
  --brand--g3:#8c8b8b;
  --brand--g4:#a2a2a2;
  --brand--g5:#b9b9b8;
  --brand--g6:#cececd;
  --brand--g7:#e2e2e2;
  --brand--white: #f6f6f6;
  --container-max-width: 97vw;
}
@media all and (min-width: 992px) {
  :root {
    --container-max-width: calc(100vw - 10rem);
  }
}

html {
  font-size: calc(10px + (14 - 10) * ((100vw - 768px) / (1440 - 768)));
  padding: 0;
}

body, html {
  margin: 0;
  width: 100%;
  background-color: #fff;
  font-family: "Titillium Web", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--brand--d3);
}

h1 {
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 1.1em;
  padding-top: 1.64em;
  padding-bottom: 0.64em;
}

h2 {
  font-weight: 200;
  color: var(--brand--g2);
  font-size: 1.64rem;
  line-height: 1.1em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

h3 {
  font-weight: 400;
  color: var(--brand--d3);
  font-size: 1.36rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: 0.25em;
}

h4 {
  font-weight: 400;
  color: var(--brand--g3);
  font-size: 1.2rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: 0.15em;
}

h5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1em;
  padding-top: 1.25em;
  padding-bottom: 0.15em;
}

p {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0.5em 0 1.5em 0;
  margin: 0;
  color: var(--brand--black);
}

p.lead {
  font-size: 136%;
}

h1:not(.pt):first-child, h2:not(.pt):first-child, h3:not(.pt):first-child, h4:not(.pt):first-child, h5:not(.pt):first-child, p:not(.pt):first-child {
  padding-top: 0;
}

.skip-padding p {
  padding: 0 !important;
}

.invisible {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

section > h1 {
  padding-bottom: 3rem;
}

a, a:visited {
  color: var(--brand--blue);
}

a:hover, a:active {
  color: var(--brand--d7);
}

.form-control:focus {
  border-color: var(--brand--l1);
  box-shadow: 0 0 0 0.2rem var(--brand--l7);
}

nav a {
  display: inline-block;
  outline: none;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover, nav a:focus {
  outline: none;
}

.cl-effect-19a a {
  line-height: 2em;
  margin: 0.3rem 0;
  width: 100%;
  perspective: 1000px;
}
.cl-effect-19a a span {
  background: #fff;
  display: inline-block;
  padding: 0 14px;
  position: relative;
  text-align: center;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  transition: transform 0.4s, background 0.5s;
  width: 100%;
}
.csstransforms3d .cl-effect-19a a span::before {
  background: var(--brand--white);
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.1);
  content: attr(data-hover);
  height: 100%;
  left: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: rotateY(90deg);
  transform-origin: 0 50%;
  transition: background 0.5s, box-shadow 0.3s;
  width: 100%;
}
.cl-effect-19a a:hover span, .cl-effect-19a a:focus span {
  background: var(--brand--white);
  transform: rotateY(-90deg);
}
.csstransforms3d .cl-effect-19a a:hover span::before, .csstransforms3d .cl-effect-19a a:focus span::before {
  background: #fff;
  box-shadow: 0 0.64rem 2rem rgba(0, 0, 0, 0.15);
  color: var(--brand--blue);
}

#page {
  margin: 0 auto;
  width: var(--container-max-width);
}

.site {
  overflow-x: unset;
}

.container {
  max-width: var(--container-max-width);
}

.woocommerce-breadcrumb a:first-of-type::before {
  content: unset;
}

ul {
  margin: 0;
  padding: 0;
}

.site-header {
  padding: 2rem 0;
}
.site-header .custom-logo-link,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
  display: inline;
}
.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
  display: inline;
}
.site-header .site-info {
  padding: 0;
}
.site-header a.added_to_cart.wc-forward {
  color: var(--brand--white);
}

@media (min-width: 600px) {
  .cols-3to9 .wp-block-column:nth-child(1) {
    flex-basis: calc(8.3333333333% * 3 - 16px);
  }
  .cols-3to9 .wp-block-column:nth-child(2) {
    flex-basis: calc(8.3333333333% * 9 - 16px);
  }
}
.site-header {
  border-bottom: 1px solid var(--brand--g7);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.site-header .top-nav {
  font-size: 0.8rem;
  height: 100%;
  justify-content: flex-end;
  line-height: 1rem;
}
.site-header .top-nav a {
  color: var(--brand--g4);
  font-size: 1.35em;
  font-weight: 600;
  text-decoration: none;
}
.site-header .top-nav a:hover, .site-header .top-nav a:active {
  color: var(--brand--blue);
}

.site-footer {
  background-color: transparent;
  border-top: 1px solid var(--brand--g7);
  padding: 3rem 0;
}
.site-footer .nav {
  justify-content: flex-end;
}
.site-footer a.nav-link {
  color: var(--brand--g4);
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0;
  text-decoration: none;
}
.site-footer a.nav-link:hover {
  text-decoration: underline;
}

.woocommerce-breadcrumb .breadcrumb-item {
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.woocommerce-breadcrumb .breadcrumb-item a {
  color: var(--brand--g7);
  display: inline-block;
  text-decoration: none;
  transition: color 0.36s;
}
.woocommerce-breadcrumb .breadcrumb-item a:hover {
  color: var(--brand--g3);
}
.woocommerce-breadcrumb .dot-separator {
  color: var(--brand--g7);
  line-height: calc(.9rem - 3px);
  margin: 0 1rem;
}
.woocommerce-breadcrumb .dot-separator .dot {
  background-color: var(--brand--g7);
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin: 0 0.3rem;
  width: 3px;
}

/*# sourceMappingURL=style.css.map */
