@import 'https://fonts.googleapis.com/css?family=Titillium+Web:200,400,600,700';
:root {
  --container-max-width: 97vw;
}
@media all and (min-width: 992px) {
  :root {
    --container-max-width: calc(100vw - 10rem);
  }
}

html {
  font-size: calc(10px + (14 - 10) * ((100vw - 768px) / (1440 - 768)));
  padding: 0;
}

body, html {
  margin: 0;
  width: 100%;
  background-color: #fff;
  font-family: "Titillium Web", sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #007ab4;
}

h1 {
  font-weight: 200;
  font-size: 2.5rem;
  line-height: 1.1em;
  padding-top: 1.64em;
  padding-bottom: 0.64em;
}

h2 {
  font-weight: 200;
  color: #737272;
  font-size: 1.64rem;
  line-height: 1.1em;
  padding-top: 1.5em;
  padding-bottom: 0.5em;
}

h3 {
  font-weight: 400;
  color: #007ab4;
  font-size: 1.36rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: 0.25em;
}

h4 {
  font-weight: 400;
  color: #8c8b8b;
  font-size: 1.2rem;
  line-height: 1.1em;
  padding-top: 1.36em;
  padding-bottom: 0.15em;
}

h5 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.1em;
  padding-top: 1.25em;
  padding-bottom: 0.15em;
}

p {
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5em;
  padding: 0.5em 0 1.5em 0;
  margin: 0;
  color: #3c3c3b;
}

p.lead {
  font-size: 136%;
}

h1:not(.pt):first-child, h2:not(.pt):first-child, h3:not(.pt):first-child, h4:not(.pt):first-child, h5:not(.pt):first-child, p:not(.pt):first-child {
  padding-top: 0;
}

.skip-padding p {
  padding: 0 !important;
}

.invisible {
  visibility: none;
  opacity: 0;
  pointer-events: none;
}

section > h1 {
  padding-bottom: 3rem;
}

a, a:visited {
  color: #2699d6;
}

a:hover, a:active {
  color: #005589;
}

nav a {
  display: inline-block;
  outline: none;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover, nav a:focus {
  outline: none;
}

.cl-effect-19a a {
  line-height: 2em;
  margin: 0.3rem 0;
  width: 100%;
  perspective: 1000px;
}
.cl-effect-19a a span {
  background: #fff;
  display: inline-block;
  padding: 0 14px;
  position: relative;
  text-align: center;
  transform-origin: 0 50%;
  transform-style: preserve-3d;
  transition: transform 0.4s, background 0.5s;
  width: 100%;
}
.csstransforms3d .cl-effect-19a a span::before {
  background: #f6f6f6;
  box-shadow: 0 -0.1rem 0 rgba(0, 0, 0, 0.1);
  content: attr(data-hover);
  height: 100%;
  left: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: rotateY(90deg);
  transform-origin: 0 50%;
  transition: background 0.5s, box-shadow 0.3s;
  width: 100%;
}
.cl-effect-19a a:hover span, .cl-effect-19a a:focus span {
  background: #f6f6f6;
  transform: rotateY(-90deg);
}
.csstransforms3d .cl-effect-19a a:hover span::before, .csstransforms3d .cl-effect-19a a:focus span::before {
  background: #fff;
  box-shadow: 0 0.64rem 2rem rgba(0, 0, 0, 0.15);
  color: #2699d6;
}

form {
  margin-bottom: 1.6rem;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

.woocommerce-address-fields__field-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.woocommerce-address-fields__field-wrapper p {
  margin: 0 0 1.6rem;
  padding: 0;
}
.woocommerce-address-fields__field-wrapper .form-row-first,
.woocommerce-address-fields__field-wrapper .form-row-last {
  width: calc(50% - 15px);
}
.woocommerce-address-fields__field-wrapper .form-row-first {
  margin-right: 15px;
}
.woocommerce-address-fields__field-wrapper .form-row-last {
  margin-left: 15px;
}

#billing_first_name_field {
  order: 1;
}

#billing_last_name_field {
  order: 2;
}

#billing_company_field {
  order: 3;
}

#billing_address_1_field {
  order: 4;
}

#billing_address_2_field {
  order: 5;
  width: 100%;
}

#billing_city_field {
  margin-right: 15px;
  order: 6;
  width: calc(50% - 15px);
}

#billing_postcode_field {
  margin-left: 15px;
  order: 7;
  width: calc(50% - 15px);
}

#billing_state_field {
  order: 8;
}

#billing_country_field {
  order: 9;
}

#billing_phone_field {
  order: 10;
}

#billing_email_field {
  order: 11;
}

.woocommerce-input-wrapper {
  display: block;
  width: 100%;
}

.custom-select {
  border: 1px solid #a2a2a2;
  border-radius: 0.256rem;
  box-shadow: 0 0 0 0 rgba(38, 153, 214, 0);
  color: #737272;
  font-size: 1rem;
  padding: 0.4266666667rem 0.64rem;
}
.custom-select:focus {
  background-color: #fff;
  border-color: #4aa3db;
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 214, 0.1);
}

input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: none;
  background: 0 0;
  background-color: #fff;
  border: 0;
  border-color: #b9b9b8;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.64rem 1.28rem;
  text-decoration: none;
  text-shadow: none;
}
input[type=button].alt, input[type=button].cta, input[type=reset].alt, input[type=reset].cta, input[type=submit].alt, input[type=submit].cta {
  background-color: #2699d6;
  border-color: #2699d6;
}
input[type=button].alt:hover, input[type=button].cta:hover, input[type=reset].alt:hover, input[type=reset].cta:hover, input[type=submit].alt:hover, input[type=submit].cta:hover {
  background-color: #2699d6;
}
input:hover {
  color: #fff;
}
input.loading {
  opacity: 0.5;
}
input.small {
  font-size: 0.8rem;
  padding: 0.48rem 0.8rem;
}
.input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url] {
  -webkit-appearance: inherit;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #a2a2a2;
  border-radius: 0.256rem;
  box-shadow: 0 0 0 0 rgba(38, 153, 214, 0);
  box-sizing: border-box;
  color: #737272;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.4266666667rem 0.64rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}
.input-text:focus, input[type=email]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=url]:focus {
  background-color: #fff;
  border-color: #4aa3db;
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 214, 0.1);
}

input[type=checkbox], input[type=radio] {
  padding: 0;
}
input[type=checkbox] + label,
input[type=checkbox] + label, input[type=radio] + label,
input[type=radio] + label {
  margin: 0 0 0 0.32rem;
}
input[type=search] {
  box-sizing: border-box;
}
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=search]::-webkit-input-placeholder, input[type=search]::-moz-placeholder, input[type=search]:-ms-input-placeholder, input[type=search]::-ms-input-placeholder, input[type=search]::placeholder {
  color: #a2a2a2;
}

button::focus-inner,
input::focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  -webkit-appearance: none;
  background-color: #fff;
  border: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #737272;
  font-weight: 400;
  overflow: auto;
  padding: 0.64rem;
  padding-left: 0.8rem;
  vertical-align: top;
  width: 100%;
}
textarea:focus {
  background-color: #f6f6f6;
}

label {
  font-weight: 400;
}
label.inline input {
  width: auto;
}

fieldset {
  border: 0;
  margin: 0;
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
  padding: 1.6rem;
  padding-top: 1rem;
}
fieldset legend {
  font-weight: 600;
  margin-left: -1rem;
  padding: 0.64rem 1rem;
}

[placeholder]:focus::input-placeholder {
  opacity: 0;
  transition: opacity 0.5s 0.5s ease;
}

.added_to_cart,
.button,
button {
  -webkit-appearance: none;
  background: 0 0;
  background-color: #fff;
  border: 0;
  border-color: #b9b9b8;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 0.64rem 1.28rem;
  text-decoration: none;
  text-shadow: none;
}
.added_to_cart:hover, .added_to_cart:hover, .added_to_cart:hover,
.button:hover,
.button:hover,
.button:hover,
button:hover,
button:hover,
button:hover {
  color: #fff;
}
.added_to_cart.loading,
.button.loading,
button.loading {
  opacity: 0.5;
}
.added_to_cart.small,
.button.small,
button.small {
  font-size: 0.8rem;
  padding: 0.48rem 0.8rem;
}

.btn-brand {
  text-decoration: none !important;
  background-color: #2699d6;
  border-color: #0084bf;
  color: #fff !important;
}
.btn-brand:hover, .btn-brand:focus, .btn-brand:active, .btn-brand.active {
  background-color: #007ab4;
  border-color: #0070a8;
  color: #fff;
}
.btn-brand:active, .btn-brand.active {
  background-image: none;
}
.btn-brand.disabled, .btn-brand[disabled] {
  background-color: #2699d6;
  border-color: #0084bf;
}
.btn-brand.disabled:hover, .btn-brand.disabled:focus, .btn-brand.disabled:active, .btn-brand.disabled.active, .btn-brand[disabled]:hover, .btn-brand[disabled]:focus, .btn-brand[disabled]:active, .btn-brand[disabled].active {
  background-color: #2699d6;
  border-color: #0084bf;
}
.btn-brand .open .dropdown-toggle.btn-brand {
  background-color: #007ab4;
  border-color: #0084bf;
  color: #fff;
}
.btn-brand .open .dropdown-toggle.btn-brand {
  background-image: none;
}
fieldset[disabled] .btn-brand, fieldset[disabled] .btn-brand:hover, fieldset[disabled] .btn-brand:focus, fieldset[disabled] .btn-brand:active, fieldset[disabled] .btn-brand.active {
  background-color: #2699d6;
  border-color: #0084bf;
}
.btn-brand .badge {
  color: #2699d6;
  background-color: #fff;
}

#page {
  margin: 0 auto;
  width: var(--container-max-width);
}

.site {
  overflow-x: unset;
}

.container {
  max-width: var(--container-max-width);
}

.woocommerce-breadcrumb a:first-of-type::before {
  content: unset;
}

ul {
  margin: 0;
  padding: 0;
}

.site-header {
  padding: 2rem 0;
}
.site-header .custom-logo-link,
.site-header .site-logo-anchor,
.site-header .site-logo-link {
  display: inline;
}
.site-header .custom-logo-link img,
.site-header .site-logo-anchor img,
.site-header .site-logo-link img {
  display: inline;
}
.site-header .site-info {
  padding: 0;
}
.site-header a.added_to_cart.wc-forward {
  color: #f6f6f6;
}

@media (min-width: 600px) {
  .cols-3to9 .wp-block-column:nth-child(1) {
    flex-basis: calc(8.3333333333% * 3 - 16px);
  }
  .cols-3to9 .wp-block-column:nth-child(2) {
    flex-basis: calc(8.3333333333% * 9 - 16px);
  }
}
.site-header {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.site-header .top-nav {
  font-size: 0.8rem;
  height: 100%;
  justify-content: flex-end;
  line-height: 1rem;
}
.site-header .top-nav a {
  color: #a2a2a2;
  font-size: 1.35em;
  font-weight: 600;
  text-decoration: none;
}
.site-header .top-nav a:hover, .site-header .top-nav a:active {
  color: #2699d6;
}

.site-footer {
  background-color: transparent;
  border-top: 1px solid #e2e2e2;
  padding: 3rem 0;
}
.site-footer .nav {
  justify-content: flex-end;
}
.site-footer a.nav-link {
  color: #a2a2a2;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1rem;
  padding: 0;
  text-decoration: none;
}
.site-footer a.nav-link:hover {
  text-decoration: underline;
}

.woocommerce-breadcrumb .breadcrumb-item {
  font-size: 0.9rem;
  line-height: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.woocommerce-breadcrumb .breadcrumb-item a {
  color: #e2e2e2;
  display: inline-block;
  text-decoration: none;
  transition: color 0.36s;
}
.woocommerce-breadcrumb .breadcrumb-item a:hover {
  color: #8c8b8b;
}
.woocommerce-breadcrumb .dot-separator {
  color: #e2e2e2;
  line-height: calc(.9rem - 3px);
  margin: 0 1rem;
}
.woocommerce-breadcrumb .dot-separator .dot {
  background-color: #e2e2e2;
  border-radius: 50%;
  display: inline-block;
  height: 3px;
  margin: 0 0.3rem;
  width: 3px;
}

/*# sourceMappingURL=style.css.map */
